/* Global project-wide SCSS variables, mixins and base resets */

// Example reset
body {
  margin: 0;
  background: #ffffff;
  font-family: 'Inter', sans-serif;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

// You can place common variables or mixins below
$primary-blue: #1129bd;
$text-color: #333333; 